<div class="container">
	
	<div class="table">
		<div class="table-header">
           
   
			<div class="header__item"><a id="id" class="filter__link" href="#"><b>ID</b></a></div>
			<div class="header__item"><a id="name" class="filter__link filter__link--number" href="#"><b>Genre Name</b></a></div>
      <div class="header__item"><a id="action" class="filter__link filter__link--number" href="#"><b>Actions</b></a></div>

		</div>
		<div *ngFor="let genre of genreList" class="table-content">	
			<div class="table-row">		
				<div class="table-data"><input type="text" name="id" class="form-control" [(ngModel)]="genre.genre_id"></div>
				<div class="table-data"><input type="text" name="name" class="form-control" [(ngModel)]="genre.name"></div>

				<div class="table-data">
                

                      <button mat-stroked-button color="warn" (click)="deleteGenre(genre.genre_id)">
                        Delete
                      </button>

                </div>
                <div class="table-data">

                      <button mat-raised-button color="primary" (click)="updateGenre(genre)">
                        Update
                      </button>
                </div>
			</div>
		</div>	

        <form #genre = "ngForm" (ngSubmit) = "createGenre(genre.value)">

                        
            <table class="table">
              <thead class=" text-primary">
                  <th>
                      <input type="text" name="genre_id" class="form-control" ngModel>
                  </th>
                  <th>
                      <input type="text" name="name" class="form-control" ngModel>
                  </th>
                  <th>
                    <th>

                        <button mat-raised-button color="accent">
                            Create
                        </button>
                  </th>
              </thead>
            </table>
        </form>




	</div>
</div>
<button mat-flat-button color="primary" routerLink="/genre/test1">test1</button>